.projects {
  margin: 0 auto;
  max-width: 70%;
  text-align: center;
}

.projects h1 {
  font-size: 500%;
}

.projects h2 {
  font-size: 300%;
  display: inline-block;
  margin: 20px auto;
  padding: 0 5px;
  border-width: 2px 0;
  border-style: solid;
  border-color: chocolate;
}

.project {
  margin: 10px 0;
}

.project .splash {
  display: block;
  margin: auto;
  max-width: 80%;
}

.project .subtitle {
  font-style: italic;
  margin: 0;
}

.project .explanation {
  font-size: 120%;
  text-align: justify;
  text-indent: 1.5em;
}

.project-links {
  display: table;
  width: auto;
  margin: 0 auto;
}

.project-links ul {
  padding: 0;
}

.project-links li {
  display: table-cell;
  padding: 0 10px;
}

.project-links img {
  vertical-align: middle;
}

.project .credit {
  color: chocolate;
}

@media screen and (max-width: 1000px) {
  .projects {
    max-width: 95%;
  }
}
